#index {
  .container {
    flex: 0 0 862px;

    .el-carousel {
      position: relative;
      background-color: var(--tino-bg-color-overlay);

      .el-carousel__item {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .title {
          color: var(--tino-color-white);
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .panel {
      margin-top: 10px;
      align-items: start;

      .ml-10 {
        margin-left: 10px;
      }

      > div {
        flex: 1;
        padding: 20px 10px;
        background-color: var(--tino-bg-color-overlay);
        .header {
          padding-bottom: 20px;
          border-bottom: 1px solid var(--tino-border-color);
        }
        .title {
          color: var(--tino-text-color);
          font-size: $h3_font_size;
          font-weight: bold;
        }
        .time {
          font-size: 12px;
          margin-left: 6px;
          color: var(--tino-lesser-text-color);
          vertical-align: text-top;
        }
        .more {
          font-size: 12px;
          text-decoration: none;
          color: var(--tino-text-color);
        }
        .main {
          margin-top: 20px;

          #deal-panel {
            height: 200px;
          }

          :deep(.el-input) {
            .el-input__wrapper {
              --el-input-bg-color: var(--tino-input-bg-color);
              --el-input-border-color: var(--tino-border-color);
              --el-input-text-color: var(--tino-text-color);
            }
          }

          .el-select {
            width: 80px;
            margin-left: 10px;
          }

          .data {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            div {
              margin-top: 10px;
              text-align: center;
              color: var(--tino-lesser-text-color);

              .value {
                font-weight: bold;
              }

              i {
                font-style: normal;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }

  .other {
    width: 272px;
    margin-left: 10px;
  }
}